{% extends 'base.html.twig' %}

{% block title %}Hello FormController!{% endblock %}

{% block stylesheets %}
{% endblock %}

{% block javascripts %}
{% endblock %}

{% block body %}

<div class="container">
    <div id="form-base">
        <div id="vue-app">
            <form-base></form-base>
        </div>
    </div>
</div>
{% endblock %}
