{% extends 'base.html.twig' %}

{% block title %}Hello FormController!{% endblock %}

{% block stylesheets %}
{{ encore_entry_link_tags('form_page') }}
{% endblock %}

{% block javascripts %}
{% endblock %}

{% block body %}

<div class="form-wrapper" id="vue-app">
    <form-base />
</div>
{% endblock %}
